/* font-family: 'Abril Fatface', cursive;
font-family: 'Play', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 6rem;
    background: rgb(28, 90, 28);
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    padding: 1.3rem 6rem;
}
.logo .siteMapSVG{
    width: 50px;
    height: 50px;
    color: white;
}
.logo h1{
    color: rgb(255, 249, 232);
    font-size: 41px;
    padding-left: .5rem;
    font-family: 'Abril Fatface', cursive;
}
.header a{
    text-decoration: none;
    color: rgb(255, 249, 232);
    border: 2px solid rgb(255, 249, 232);
    padding: .6rem 2.3rem;
    background:rgb(72, 109, 72);
    box-shadow: 3px 3px 6px rgb(51, 51, 51);
    transition: all 1s ease;
}
.header a:hover{
    box-shadow: 10px 10px 6px rgb(46, 46, 46);
    color: black;
    transition: all 1s ease;
}
.headerBtn{
    margin: 2.4rem 10rem; 
}