/* font-family: 'Abril Fatface', cursive;
font-family: 'Play', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(248, 248, 247);
}

.header{
    height: 6rem;
    background: rgb(28, 90, 28);
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 3px grey;
}
.logo {
    display: flex;
    padding: 1.3rem 6rem;
}
.logo .siteMapSVG{
    width: 50px;
    height: 50px;
    color: white;
}
.logo h1{
    color: rgb(255, 249, 232);
    font-size: 41px;
    padding-left: .5rem;
    font-family: 'Abril Fatface', cursive;
}
.header a{
    text-decoration: none;
    color: rgb(255, 249, 232);
    border: 2px solid rgb(255, 249, 232);
    padding: .6rem 2.3rem;
    background:rgb(72, 109, 72);
    box-shadow: 3px 3px 6px rgb(51, 51, 51);
    transition: all 1s ease;
}
.header a:hover{
    box-shadow: 10px 10px 6px rgb(46, 46, 46);
    color: black;
    transition: all 1s ease;
}
.headerBtn{
    margin: 2.4rem 10rem; 
}

.inputTextOne{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    border: 1px solid rgb(223, 223, 223);
    padding: 2rem 1rem;
    width: 70%;
    text-align: center;
    margin: 2rem auto;
    box-shadow: 1px 2px 9px grey;
    font-family: 'Secular One', sans-serif;
    color: green;
    position: relative;
}
label{
    padding: .5rem 1rem;
    margin: .3rem;
}
input{
   padding: .3rem 0;
   margin: .3rem 0;
   text-align: center;
   width: 67%;
   border-radius: 3px;
   border: 1px solid lightgrey;
}
.inputOne{
    width: 50%;
    text-align: left;
}

.inputTwo{
    width: 50%;
    text-align: left;
}
.inputTwo .inputParagraph{
    font-size: 13px;
    text-align: center;
    color:rgba(13, 107, 13, .6);
}
.sendTo, .sendFor{
    padding: 1rem;
}

.to{
  position: absolute; 
  top: 2rem;
  left: 2rem;
  font-size: 19px;
}
.for{
  position: absolute; 
  top: 2rem;
  left: 29rem;
  font-size: 19px;
}
#to, #for{
    border: 1px solid lightgrey;
    font-size: 14px;
}